* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #000;
    color: #fff;
}

/* Top bar */
.top-bar {
    background: #7a1fa2;
    padding: 8px 40px;
    font-size: 14px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

/* Navigation */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    position: fixed;
    top: 32px; /* below top bar */
    width: 100%;
    z-index: 999;
    background-color: rgba(0,0,0,0.6);
}

.logo {
    font-size: 22px;
    font-weight: 600;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 25px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
}

/* Hero section */
.hero {
    height: 100vh;
    background-image:
        linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),
        url("jusip.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    align-items: center;
    justify-content: center; /* CENTER HERO CONTENT */
    text-align: center; /* CENTER TEXT */
    padding: 0 40px;
}


.hero-content {
    max-width: 700px;
}

.hero-content h1 {
    font-size: 60px;
    font-weight: 700;
    line-height: 1.2;
    color: #fff;
    margin-bottom: 20px;
}

.subtitle {
    color: #f1c40f;
    font-weight: 600;
    margin-bottom: 10px;
    font-size: 18px;
}

.hero-content p {
    margin: 20px 0;
    color: #ccc;
    font-size: 16px;
}

.btn {
    display: inline-block;
    margin-top: 20px;
    padding: 14px 30px;
    background: #9b59b6;
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    border-radius: 4px;
    transition: background 0.3s;
}

.btn:hover {
    background: #8e44ad;
}

/* Responsive */
@media (max-width: 768px) {
    .hero-content h1 {
        font-size: 40px;
    }

    nav ul {
        display: none;
    }
}
